body {
  background-color: white;
}

header {
  background-color: #ffcfe6;
  color: white;
  margin: auto;
  text-align: center;
  width: 95%;
  border-radius: 10px;
}

main {
  background-color: white;
  color: black;
  margin: auto auto auto 5%;
  padding: 1em;
  width: 80%;
  max-width: 900px;
  border: 3px solid #ffcfe6;
  border-radius: 10px;
  box-shadow: 0px 5px 80px rgba(255, 207, 230, .2);
  overflow: hidden;
}

img.cat {
  width: 50%;
  height: auto;
  float: right;
  min-width: 200px;
}

.clear {
  clear: both;
}

h1 {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: bold;
  font-size: 80px;
  font-style: normal;
}

h2 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}

h3 {
  font-family: "Prata", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

h4 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

p {
  font-family: arial;
  font-size: 15px;
}

ul {
  list-style-type: "\21E8\ ";
}

ul ul{
  list-style-type: "\2192\ ";
}

li.remBullet {
  list-style-type: none;
}